* { margin:0; padding: 0; }
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/*font-family: 'Dosis', sans-serif;*/
body {
    background-color:#FFEBC2;
}

.head {
    max-width: 1750px;
    margin: auto;
    position: sticky;
    top: 0px;
    height: 90px;
    background: #cadda3;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.info {
    max-width: 175vh;
    padding: 20px;
    margin: 0;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;

}

a:active {
    color: #ffcf48;
    text-decoration: none;
}

li {
    font: normal 36px'Exo 2', sans-serif;
    display: inline;
}

#kermit {
    position: absolute;
    top: 0;
    left: 150px;
    width: 100px;
}

.h3_tea_theory {
    color: #242423;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font: normal 36px'Open Sans', sans-serif;
}

.tea_theory {
    color:#242423;
    background: #fdd0ab;
    padding: 15px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 15px;
    max-width: 1150px;
    text-align:justify;
    font: normal 25px'Open Sans', sans-serif;;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.tea_theory_w {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.tea_pictures {
    border-radius: 15px;
    max-width: 550px;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    transition: 0.6s all;
    transition-delay: 0.5s;
    z-index: 1;
}

.tea_pictures:hover {
    transform: scale(1.40);
}

/* .tea_pictures:active {

} */


.tea_theory_with_pic_left {
    background: #fdd0ab;
    padding: 15px;
    margin-left: 40px;
    border-radius: 15px;
    max-width: 800px;
    text-align: justify;
    font: normal 25px'Open Sans', sans-serif;;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.tea_theory_with_pic_right {
    background: #fdd0ab;
    padding: 15px;
    margin-right: 40px;
    border-radius: 15px;
    max-width: 800px;
    text-align: justify;
    font: normal 25px'Open Sans', sans-serif;;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

#last_element {
    margin-bottom: 40px;
}

@media screen and (max-width: 1004px) {
    li {
        font: normal 34px'Exo 2', sans-serif;
    }

    .h3_tea_theory {
        font: normal 18px'Exo 2', sans-serif;
    }
    .tea_theory {
        font: normal 16px'Exo 2', sans-serif;
        margin-left: 40px;
        margin-right: 40px;
    }

    .tea_pictures {
        max-width: 900px;
    }

    .tea_pictures:hover {
        transform: none;
    }

    .tea_theory_w {
        display: flex;
        flex-direction: column;
    }
    .tea_theory_with_pic_left {
        font: normal 16px'Exo 2', sans-serif;
        margin: 40px 40px 0px 40px;
        max-width: 900px;
        
    }

    .tea_theory_with_pic_right {
        font: normal 16px'Exo 2', sans-serif;
        margin: 0px 40px 40px 40px;
        max-width: 900px;
    }
}

@media screen and (max-width: 1399px) {
    #kermit {
        opacity: calc(0);
    }
}